.cal_container{
    position: relative;
    width:242px;
    font-family: "Microsoft YaHei";
}
.cal_header{
    width:240px;
    height:34px;
    background:url("img/datebar.png") repeat-x;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius:6px 6px 0 0;

    border:1px #ADAABE solid;

}
.cal_weekBar{
    width:240px;
    height:26px;
    background:url("img/weekbar.png") repeat-x;
    border:1px #e4e7ec solid;
}
.cal_day_conteiner{
    width:inherit;
    height:126px;
    background: url("img/container.png") repeat-y;
}
.cal_footer{
    width:inherit;
    height:30px;
    background: url("img/footer.png") no-repeat;
}
.date-array{
    display: inline-block;
    width:15px;
    height:15px;
    background:url("img/array.png") no-repeat;
    cursor: pointer;
    margin-top:9px;

}
.date-content{
    display: inline-block;
    height:15px;
    width:130px;
    font-size:14px;
    line-height:14px;
    color:white;
    text-shadow: 0 -1px #F1D3D3;
    text-align:center;
}
.date-block{
    padding:0 13px;
}
.double-left{
    background-position: 0 0;
}
.double-right{
    background-position: 0 -81px;
}
.single-left{
    background-position: 0 -27px;
}
.single-right{
    background-position: 0 -54px;
}
