.cal_container{
    position: absolute;
    width:242px;
    font-family: "Microsoft YaHei";
    overflow: hidden;
    height:0;
    opacity:0;
    z-index: 10;
    -webkit-transition: height 0.3s;
    -webkit-transition: opacity 0.3s;
}
.cal_container_fadeIn{
     height:242px;
     opacity:1;
}
.cal_header{
    width:240px;
    height:34px;
    background:url("img/datebar.png") repeat-x;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius:6px 6px 0 0;
    border:1px #ADAABE solid;

}
.cal_weekBar{
    width:240px;
    height:26px;
    background:url("img/weekbar.png") repeat-x;
    border:1px #e4e7ec solid;
    text-align: center;
}
.cal_day_container{
    width:inherit;
    height:126px;
    background: url("img/container.png") repeat-y;
}
.cal_footer{
    width:inherit;
    height:30px;
    background: url("img/footer.png") no-repeat;
}
.date_array{
    display: inline-block;
    width:15px;
    height:15px;
    background:url("img/array.png") no-repeat;
    cursor: pointer;
    margin-top:9px;

}
.date_content{
    display: inline-block;
    height:15px;
    width:130px;
    font-size:14px;
    line-height:14px;
    color:white;
    text-shadow: 0 -1px #F1D3D3;
    text-align:center;
    -webkit-user-select: none;
}
.date_block{
    padding:0 13px;
}
.double_left{
    background-position: 0 0;
}
.double_right{
    background-position: 0 -81px;
}
.single_left{
    background-position: 0 -27px;
}
.single_right{
    background-position: 0 -54px;
}


.cal_weekBar ul{
    margin:0;
    padding:0;
    display: inline-block;
    list-style:none;
    color:#8D8F96;
    font-size: 13px;
}
.cal_weekBar ul li{
    display: inline-block;
    width:31px;
}
.cal_day_container ul{
    position: relative;
    margin:0;
    padding:0;
    display: block;
    list-style: none;
    color:#8D8F96;
    font-size: 12px;
    text-align: center;
    -webkit-transition:left 0.3s;
}
.cal_day_fadeRight{
    left:242px;
}
.cal_day_fadeLeft{
    left:242px;
}
.cal_day_container ul li{
    display: inline-block;
    padding:4px 0 0 0;
    width:31px;
    cursor: pointer;
}
.diffMonthDate{
    color:#bfbfbf;
}
.todayDate{
    color:#615c5c;
    font-weight: bold;
    font-size:13px;
}


